@keyframes main-header-in {
  from {
    color: transparent;
    text-shadow: 0 0 3rem #fff
  }
  
  to {
    color: #fff;
    text-shadow: 0 0 3rem #000;
  }
}

@keyframes main-header-in-span {
  from {
    color: transparent;
    text-shadow: 0 0 3rem #4cae4c
  }
  
  to {
    color: #4cae4c;
    text-shadow: 0 0 3rem #000;
  }
}