@media (min-width: 40em) {
  .cover-heading {
    animation-duration: 1.5s;
    animation-name: main-header-in;
  }

  .cover-heading .special {
    animation-duration: 1.5s;
    animation-name: main-header-in-span
  }

  .cover .lead {
    animation-duration: 1.5s;
    animation-name: main-header-in
  }
}

#teams .card:first-child {
  background: linear-gradient(
      rgba(30, 30, 30, 0.87), 
      rgba(30, 30, 30, 0.87)
    ),
  url('https://circuitrunners.github.io/images/FRCindex.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#teams .card:nth-child(2) {
  background: linear-gradient(
      rgba(30, 30, 30, 0.87), 
      rgba(30, 30, 30, 0.87)
    ),
  url('https://circuitrunners.github.io/images/FTCindex.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

#teams .card:nth-child(3) {
  background: linear-gradient(
      rgba(30, 30, 30, 0.87), 
      rgba(30, 30, 30, 0.87)
    ),
  url('https://circuitrunners.github.io/images/BESTindex.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

#teams .card:last-child {
  background: linear-gradient(
      rgba(30, 30, 30, 0.87), 
      rgba(30, 30, 30, 0.87)
    ),
  url('https://circuitrunners.github.io/images/GRITSindex.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
