.header {
    background-color: black;
    max-width: 100%;
    padding: 1em;
    font-size: 1.25em;
    font-family: Futura-Bold;
    text-transform: uppercase;
    top: 0;
    /* width: 100%; */
    z-index: 10000;
    opacity: 1;
}

.nav-left,
.nav-right {
    display: flex;
    width: 100%;
    align-content: center;
    text-align: center;
}

.header-nav {
    display: flex;
    /* text-align: justify; */
    justify-content: space-evenly;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

#top-logo {
    width: 15em;
    left: 50%;
    height: 10em;
    overflow: hidden;
    object-fit: cover;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav-item:hover {
    color: rgba(255, 255, 255, .6);
}

.header-nav-folder {
    display: inline-block;
    position: absolute;
    opacity: 0;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    padding-top: .25em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .25em;
    transform: translate3d(0, 10px, 0);
    white-space: nowrap;
}

.header-nav-item-folder {
    position: relative;
}

.header-nav-folder-item {
    display: block;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

.header-nav-folder a {
    color: black;
}

.header-nav-item-folder:hover .header-nav-folder,
.header-nav-item {
    /* display: block; */
    opacity: 1;
    top: 15px;
    left: 10px;
}

@media(min-width: 770px) {
    .header {}
}