body {
  padding-top: 54px
}
.navbar-brand {
  color: #66bb6a
}
.navbar-brand b {
  color: #4caf50
}
.nav-link {
  color: #66bb6a
}
.nav-link:hover {
  color: #4caf50
}
.active .nav-link {
  color: #66bb6a
}
.bg-faded {
  background: rgba(0, 0, 0, 0.7);
}
