/* --GLOBAL-- */
body {
  font-family: 'Roboto', sans-serif
}
/* --NAVBAR-- */
.navbar-brand {
  color: #adadad
}
.navbar-brand:hover {
  color: #ccc
}
.navbar-brand b {
  color: #4cae4c
}
.navbar-brand:hover b {
  color: #8bc34a
}
.nav-link {
  color: #fff;
  transition: .5s
}
.nav-link:hover {
  color: #8bc34a
}
.nav-link:focus {
  color: #8bc34a
}
.active .nav-link {
  color: #4cae4c
}
.active .nav-link:hover {
  color: #8bc34a
}
.active .nav-link:focus {
  color: #8bc34a
}
.bg-faded {
  background: rgba(0, 0, 0, 0.6)
}
/* --CARDS-- */
.card-img {
  width: 100%
}
.card a {
  color: #fff
}
.card .card-text {
  color: #eee
}
.card-inverse > .card-img-overlay > .text-muted {
  color: #ccc !important
}
/* --HEADER-- */
#header {
  background: url('../images/banner.jpg');
  background-position: center;
  background-size: cover
}
header h1 {
  color: #fff;
  font-weight: 700
}
header .display-3 {
  color: #fff;
  font-weight: 700
}
header .lead {
  color: #fff
}
header .h1 {
  color: #fff
}
header .container {
  padding-top: 54px;
}
/* --UTILITIES-- */
.shade {
  text-shadow: 0 0 10px #000
}
.special {
  color: #4cae4c
}
/* --TEAMS-- */
@media (min-width: 544px) {
  .card-group .card {
    height: 500px
  }
}
@media (min-width: 992px) {
  .card-group .card {
    height: 22em
  }
}
