.filled,body,html {
  height: 100%
}
body {
    font-family: 'Roboto', sans-serif;
}
.go-down {
  padding-top: 84px !important
}
.card-img {
  width: 100%
}
.card-group .card {
  height: 22rem
}
.card a {
  color: #fff
}
.card .card-text {
  color: #eee;
}
.card-inverse > .card-img-overlay > .text-muted {
  color: #ccc !important
}
#header {
  background: url('../images/banner.jpg');
  background-size: cover;
}
header {
  padding-top: 20% !important
}
.shade {
  text-shadow: 0 0 10px #000
}
.jumbotron {
  margin: 0
}
.header {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}
@media (min-width: 961px) {
  .header {
    width: 40%
  }
}
header .lead {
  font-size: 3rem
}
.navbar {
  height: 84px;
  padding-top: 14px;
  background: rgba(0, 0, 0, 0.6);
  border: none
}
header h1 {
  color: #fff !important;
  font-weight: 700
}
header p {
  color: #fff;
  font-weight: 400 !important
}
.special {
  color: #4cae4c
}
.navbar-toggle {
  margin-top: 14px
}
@media (max-width:767px) {
  .navbar-right {
    background: rgba(0, 0, 0, 0.6)
  }
  #navbar {
    margin-top: 6px;
    border: none
  }
}
.navbar .navbar-right {
  padding-top: 6px;
  padding-right: 48px;
  font-size: 1.6rem
}
.navbar-default .navbar-nav > .active > a {
  background: none;
  color: #4cae4c;
  transition:.5s
}
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-nav > li > a {
  background: none;
  color: #fff;
  transition:.5s
}
.navbar-default .navbar-nav > li > a:hover {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-brand {
  color: #adadad;
  font-size: 22px;
  transition:.5s
}
.navbar-default .navbar-brand:hover {
  color: #ccc
}
.navbar-brand b {
  color: #4cae4c
}
.navbar-brand:hover b {
  color: #8BC34A
}
.navbar-brand img {
  height: 32px
}
.navbar-brand .col-md-8 {
  padding-top: 6px;
  padding-left: 0
}
.navbar-brand .col-md-4 {
  padding-right: 0
}
#teamsb {
  padding: 48px 0
}
#teamsb #teams {
  /*color: #fff*/
}
#teamsb .panel {
  height: 96px;
  padding: 6px
}
footer {
  margin-top: 48px
}
.media-body {
  padding-left: 10px
}
#teamsb .col-md-6 {
  margin-top: 72px
}
.interp {
  position: relative;
  padding: 30px 0px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background: #4cae4c linear-gradient(to bottom, #4cae4c 0px, #8BC34A 100%) repeat-x;
}

.interp.solid {
  position: relative;
  padding: 30px 0px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background: #4cae4c;
}

.interp .special {
  color: #d2ff01
}

.dark {
  position: relative;
  padding: 30px 0px;
  color: #f2f2f2;
  background: #000
}

.white {
  color: #fff
}

#leadership {
  text-align: center;
}

#leadership .hidden-md {
  height: 128px;
}

.interp.glass {
  background: linear-gradient(to bottom, rgba(76,174,76,0.85) 0px, rgba(76,174,76,0.85) 100%);
}

.interp.nano {
  background: linear-gradient(to bottom, rgba(76,174,76,0.85) 0px, rgba(139,195,74,0.85) 100%);
}

footer a {
  color: #333;
  transition:.5s
}

.fbl:hover {
  color: #3b5998
}

.twl:hover {
  color: #00aced
}

.gpl:hover {
  color: #dd4b39
}

.rss:hover {
  color:  #ff9900
}
.grid-item {
  width: 200px
}
#sponsors .grid-item {
  padding: 10px
}
