.filled,body,html {
  height: 100%
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto'
}
.go-down {
  margin-top: 84px !important;
}
header {
  background: url('../images/banner.jpg');
  background-size: cover;
  padding-top: 20% !important;
  text-shadow: 0px 0px 10px #000
}
.jumbotron {
  margin: 0
}
.header {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media (min-width: 961px) {
  .header {
    width: 40%;
  }
}
header .lead {
  font-size: 3rem
}
.navbar {
  height: 84px;
  padding-top: 14px
}
header h1 {
  color: #fff !important;
  font-weight: 700;
}
header p {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300 !important;
}
.special {
  color: #4CAF50;
}
.navbar {
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
.navbar-toggle {
  margin-top: 14px
}
@media (max-width:767px) {
  .navbar-right {
    background: rgba(0, 0, 0, 0.6);
  }
  #navbar {
    margin-top: 6px;
    border: none
  }
}
.navbar .navbar-right {
  padding-top: 6px;
  padding-right: 48px;
  font-size: 1.6rem;
}
.navbar-default .navbar-nav > .active > a {
  background: none;
  color: #4CAF50;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-nav > li > a {
  background: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar-default .navbar-nav > li > a:hover {
  background: none;
  color: #8BC34A
}
.navbar-default .navbar-brand {
  color: #777;
  font-size: 22px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.navbar-default .navbar-brand:hover {
  color: #999
}
.navbar-brand b {
  color: #4CAF50
}
.navbar-brand:hover b {
  color: #8BC34A
}
.navbar-brand img {
  height: 32px;
}
.navbar-brand .col-md-8 {
  padding-top: 6px;
  padding-left: 0;
}
.navbar-brand .col-md-4 {
  padding-right: 0;
}
#teamsb {
  background-image: url('../images/circuitrunners.jpg');
  background-color: #000;
  background-size: cover;
  background-position: center;
  padding: 48px 0;
}
#teamsb #teams {
  color: #fff;
  text-shadow: 0px 0px 10px #000
}
#teamsb a {
  color: #fff;
  text-shadow: 0px 0px 10px #000
}
footer {
  margin-top: 48px;
}
.media-left {
  background: rgba(255, 255, 255, 0.4);
}
.media-body {
  padding-left: 10px
}
#teamsb .col-md-6 {
  margin-top: 72px;
}