:root {
  font-family: futura-pt;
  font-size: 16px;
}

html {
  height: 100%;
  margin: 0;
}

body {
  overflow: auto;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
  z-index: -1;
  font-family: futura-pt;
}

.cyan {
  color: #4df4d4;
}

.red {
  color: #ff0000;
}

.fixed {
  overflow: hidden;
}

.content a {
  color: #4df4d4;
}
.content a:visited {
  color: #3e70db;
}