.yeet {
  --yeet: 100;
}

.contactForm {
  background-color: #0F0F0F;
  padding: 2.5em;
  border-radius: 1.5em;
  width: auto;
  display: flex;
}
.contactForm textarea {
  width: 100%;
}
.contactForm input.required::after {
  color: var(--brand-red);
  content: "*";
}
.contactForm input, .contactForm textarea {
  padding: 0.5em;
  border-radius: 0.75em;
}