.linkButton {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    width: auto;
    padding: .5em;
    text-decoration: none;
    font-family: futura-pt-bold;
    box-shadow: 2px 2px 2px black;
}