@import url(./nav-mobile.css); 
@import url(./nav-desktop.css);

/* || Media Queries */
@media print {
	body::before {
		content: "You're trying to print CircuitRunners' website. I'm not sure why you'd do that, but here's the gallbladder that you ordered."
	}
	.nav {
		display: none;
	}
}
@media screen and (max-width: 600px){
	.desktop { display: none;	}	
	.mobile { display: inherit;	}
}
@media screen and (min-width: 600px) {
	.desktop {	display: inherit;	}
	.mobile {	display: none; }
}

/* || Global  */
.nav {
	display: flex;
	height: 100%;
	background-color: var(--dark-color);
	color: var(--light-color);
	font-family: Futura-Bold;
	text-transform: uppercase;
}
/* Make a links look like normal text */
.nav a {
	color: white;
	text-decoration: none;
}

.navbar {	position: fixed; }

.navbar .logo {
	max-height: 5em;
	width: auto;
	overflow: hidden;
}

.desktop > .nav-content {
	display: flex;
	flex-direction: row;
}
.navbar .logo {
	max-height: 2em;

}
.mobile > .navbar {
	flex: 0 1 auto;
	height: 5em;
	position: fixed;
	width: 100%;
	z-index: 10000;
}
.mobile > .navbar .ham {
	position: absolute;
	display: block;
	align-self: center;
	left: 5%;
}

.ham > div {
	width: 7vw;
	height: 1vw;
	background-color: #FFF;
	margin: 1.5vw 0;
	transition: 0.4s;
}
#ham1.changed {	transform: translateY( 2.5vw) rotate(45deg); }
#ham2.changed { transform: translateX( -50px); opacity: 0; }
#ham3.changed {	transform: translateY(-2.5vw) rotate(-45deg); }

.mobile > .logo {
	display: block;
	align-self: center;
	max-height:2em;
	margin: 0 auto;
	max-width: 75%;
}

.mobile .side {
	transition: 300ms;
	transform: translateX(-100%);
	/* width: 100%; */
}
.side.visible {
	display: inherit;
	/* margin: 0; */
	transform: translateX(0);
}
.side .container {
	/* padding-top: 5em; */
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0;
	position: relative;
	background: transparent;
}
.side {
	padding-top: 6em; /* */
	position: fixed;
	transform: translateX(-100%);
	transition: 250ms;
	z-index: 9999;
	text-align: left;
	flex: 1 1 auto;
	float: left;
	overflow-y: scroll;
	top: 0;
  bottom: 0;
	width: 80%;
	background: rgb(0,0,0);
	background: rgba(0,0,0,.75);
	display: flex;
	flex-direction: column;
}

.side.visible {
	
	transform: translateX(0%);
	
	
}
.mobile > .nav-item {
	margin-left: 1em;
	margin-bottom: 1.5em;
}

.mobile .nav-folder > .nav-folder-name::after { content: " +" }
.mobile .nav-folder.open > .nav-folder-name::after {
	content: " -"
}

.navside .nav-folder > .nav-item {
	display:none;
	/* opacity: 0; */
	transform: translateY(-100%);
	transition: .5s;
}
.navside .nav-folder-name {
	margin-bottom: 1.5em;
}
.navside .nav-folder.open > .nav-folder-name {
	padding-bottom: 1.5em;
}
.navside .nav-folder.open > .nav-item {
	/* display: block; */
	opacity: 100;
	transform: translateY(0%);
	margin-left: 1em;
	margin-top: 1em;
}
